@main("Gift Raptor") {

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Gift Raptor!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Secret Code</h2>
            <p>If you've received a secret code, you can enter it here to see who your secret gift recipient is.</p>
            <p>
            <form class="form-inline" name="myForm" ng-controller="AppController">
                <input type="text" class="form-control" id="messageField" placeholder="Enter code" ng-model="code"/>
                <a role="button" class="btn btn-default" ng-click="setSessionCode()" ng-href="/user">Enter code &raquo;</a>
            </form>
            </p>
        </div>
    </div>

</div>

}
