@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="santaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>

    <link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.css"))'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/raptor.css")'>

    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.js"))'></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gift Raptor</a>
            </div>

        </div>
    </div>

@content

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.js"))"></script>

</body>
</html>
