@(user: String, santas: List[SecretSanta])

@main("User Profile") {

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome, @user.</h2>
            <p>Do not be alarmed.</p>
        </div>
    </div>
    <div class="row">
    @for(santa <- santas) {
        <div class="col-md-4">
            <h2>@santa.name</h2>
            <p>@santa.description</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    }
    </div>
</div>

}