@(user: String)

@main("My Secrets", "user") {

<div id="user-profile">
    <div class="jumbotron">
        <h1>Hello, @user</h1>
        <p>
            You've made it to the inner circle.
            Below you will find all the Secret Santas you've been signed up for. Click the button to reveal your
            secret mission!
        </p>
    </div>

    <div class="row" ng-controller="ProfileController as profileCtrl">
        <div class="col-md-4" ng-repeat="santa in profileCtrl.santas" ng-controller="SantaViewController as santaCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{santa.name}}</h3>
                </div>
                <div class="panel-body">
                    {{santa.description}}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" data-toggle="modal" data-target="#modal_{{santa._id}}">
                        Reveal your assignment
                    </button>
                </div>
            </div>

            <div class="modal fade" id="modal_{{santa._id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">You shall give unto</h4>
                        </div>
                        <div class="modal-body secret-giftee">
                            <h4>{{santaCtrl.giftee}}</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

    </div>

</div>

}