@(user: String)

@main("User Profile") {

<div id="user-profile" class="container">
    <div class="row">
        <div class="page-header">
            <h1>Welcome, @user</h1>
            <p>Do not be alarmed.</p>
        </div>
    </div>

    <div class="row" ng-controller="ProfileController as profileCtrl">
        <div class="col-md-4 santa-tile" ng-repeat="santa in profileCtrl.santas" ng-controller="SantaViewController as santaCtrl">
            <h2>{{santa.name}}</h2>
            <p>{{santa.description}}</p>
            <p><button class="btn btn-default" data-toggle="modal" data-target="#modal_{{santa._id}}">
                View details &raquo;
            </button></p>

            <div class="modal fade" id="modal_{{santa._id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">You shall give unto</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{santaCtrl.giftee}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

    </div>

</div>

}